@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR&display=swap");
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: "Montserrat", sans-serif;
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #f2f2f2;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  height: 10px;
  padding: 20px 64px 16px 16px;
  background-color: inherit;
  font-weight: 700;
  margin-bottom: 15px;
}
.modal > section > header span {
  text-align: center;
  font-size: 25px;
  margin-left: 10px;
  color: #5f7161;
}
.modal > section > header button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #6d8b74;
}
.modal > section > main {
  padding: 18px;
  display: flex;

  justify-content: center;
  /* border-bottom: 1px solid #dee2e6; */
  border-top: 0.5px solid #5f7161;
}
.modal > section > footer {
  display: flex;
  justify-content: center;
  padding: 12px 16px;
  text-align: right;
}
.modal > section > footer button {
  padding: 6px 12px;
  margin-bottom: 10px;
  width: 100px;
  color: #fff;
  background-color: #6d8b74;
  border-radius: 15px;
  font-size: 18px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
