@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
:root {
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --pink: #ff919d;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79 px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: rgba(255, 255, 255, 0.54);
}

.App {
  /* background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
  background: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

.AppGlass {
  display: grid;
  height: 90%;
  width: 95%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  overflow: hidden;
  grid-template-columns: 15rem auto;
}
